<ul>
<h1> Student Sign In Page </h1>
</ul>

<%= form_tag signin_path do |f| %>
    <div class="field">
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    </div>

    <div class="actions">
    <%= submit_tag "Sign In" %>
    </div>

    <% end %>