<div>
    <ul>
    <h1> Welcome to 'Find Your College' </h1>
    </ul>


    Already have an account? <br> <%= link_to "Sign In", signin_path %> </br>
    <br> <%= link_to "Sign Up", new_student_path %> </br>

</div>


